body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: red;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    margin: 0;
}

.app-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.tile {
    display: block;
    width: 100px; /* Keep the width as is or adjust based on your design */
    margin: 10px;
    background-color: red;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding: 10px; /* Added padding */
    box-sizing: border-box; /* Ensures padding is included in the width */
}


.tile:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}

